<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr2.Runtime" version="2.7.7.02" targetFramework="net40" />
  <package id="Antlr2.Tools" version="2.7.6.3" targetFramework="net40" />
  <package id="AsyncBridge.Net35" version="0.2.0" targetFramework="net40" />
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net40" />
  <package id="JetBrains.Annotations" version="9.1.1" targetFramework="net40" />
  <package id="JetBrains.Build.Platform.Tasks.ThemedIconsPacker" version="2.0.20141124.0" targetFramework="net40" developmentDependency="true" />
  <package id="JetBrains.ExternalAnnotations" version="9.1.0.4" targetFramework="net40" />
  <package id="JetBrains.Platform.Core.Ide" version="102.0.20150408.145317" targetFramework="net40" />
  <package id="JetBrains.Platform.Core.Shell" version="102.0.20150408.144528" targetFramework="net40" />
  <package id="JetBrains.Platform.Core.Text" version="102.0.20150408.145317" targetFramework="net40" />
  <package id="JetBrains.Platform.Interop" version="102.0.20150408.145317" targetFramework="net40" />
  <package id="JetBrains.Platform.Lib.DevExpress" version="2.0.20140304.0" targetFramework="net40" />
  <package id="JetBrains.Platform.Lib.Microsoft.Deployment.Compression.Cab" version="2.0.20140304.0" targetFramework="net40" />
  <package id="JetBrains.Platform.Lib.System.Windows.Interactivity" version="2.0.20140318.0" targetFramework="net40" />
  <package id="JetBrains.Platform.Lib.VisualStudio.AnyVs.ShellInterop.PrivateBuild" version="2.0.20140304.0" targetFramework="net40" />
  <package id="JetBrains.Platform.Lib.WpfContrib" version="2.0.20140304.0" targetFramework="net40" />
  <package id="JetBrains.Platform.Symbols" version="102.0.20150408.145317" targetFramework="net40" />
  <package id="JetBrains.Platform.Tests.Framework" version="102.0.20150408.145317" targetFramework="net40" />
  <package id="JetBrains.Psi.Features.src" version="102.0.20150408.150524" targetFramework="net40" />
  <package id="JetBrains.Psi.Features.Tasks" version="102.0.20150408.150524" targetFramework="net40" />
  <package id="JetBrains.Psi.Features.test.Framework" version="102.0.20150408.150524" targetFramework="net40" />
  <package id="JetBrains.ReSharper.SDK" version="9.1.20150408.155143" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net40" />
  <package id="Newtonsoft35.Json" version="7.0.1" targetFramework="net40" />
  <package id="NuGet.Core" version="2.8.3" targetFramework="net40" />
  <package id="NUnit" version="2.6.4" targetFramework="net40" />
  <package id="NUnit.Core" version="2.6.4" targetFramework="net40" />
  <package id="NVelocity" version="1.0.3" targetFramework="net40" />
  <package id="SharpZipLib.JetBrains.Stripped" version="0.86.20150204.1" targetFramework="net40" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net40" />
  <package id="Vestris.ResourceLib.JetBrains" version="1.4.20150303.0" targetFramework="net40" />
  <package id="Wave" version="2.0.0.0" targetFramework="net40" />
  <package id="Windows7APICodePack-Core" version="1.1.0.0" targetFramework="net40" />
  <package id="Windows7APICodePack-Shell" version="1.1.0.0" targetFramework="net40" />
  <package id="xmlrpcnet" version="2.5.0" targetFramework="net40" />
</packages>